body {
  background: rgb(191,138,203);
  background: -moz-linear-gradient(180deg, rgba(191,138,203,1) 0%, rgba(130,146,255,1) 65%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(191,138,203,1) 0%, rgba(130,146,255,1) 65%, rgba(255,255,255,1) 100%);
  background: linear-gradient(180deg, rgba(191,138,203,1) 0%, rgba(130,146,255,1) 65%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bf8acb",endColorstr="#ffffff",GradientType=1);
}